{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
  {{ partial "mobile_nav_toggle.html" . }}
  <div class="row">
    <div class="col-lg-8">
      {{ $isPoetry := eq .File.Dir "poetry/" }}

      <div class="content-column-content {{ if $isPoetry }}poem{{ end }}">
        <h1 style="margin-bottom: 1.1em;">{{ if .Title }}{{ .Title }}{{ else }}Untitled{{ end }}</h1>

        {{ $res := false }}
        {{ range (slice "jpg" "png") }}
          {{ if not $res }}
            {{ $res = resources.Get (printf "img/gallery/%s.%s" $.File.BaseFileName .) }}
          {{ end }}
        {{ end }}

        {{ with $res }}
           <a href="#" class="lightbox" id="img"><span style="background-image: url({{ .RelPermalink }})"></span></a>
           <a name="img" href="#img" class="main-image" style="margin: auto;"><img src="{{ .RelPermalink }}" class="{{ if hasSuffix .Name ".png" }}png-bg{{ end }}"></a>
        {{ end }}

        {{ .Content }}

        {{ partial "gallery_nav.html" . }}

        <div class="details">
          {{ with .Params.year }}<p>{{ . | safeHTML }}</p>{{ end }}
          {{ with .Params.media }}<p>{{ . | safeHTML }}</p>{{ end }}
          {{ with .Params.dimensions }}<p>{{ . | safeHTML }}</p>{{ end }}

          {{ with .Params.footnote }}<p style="padding-top:5em;">{{ . | safeHTML }}</p>{{ end }}
        </div>

      </div>
    </div>


  </div>
</div>
{{ end }}
