{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
  {{ partial "mobile_nav_toggle.html" . }}
  <div class="row">
    <div class="col-lg-8">
      {{ $isPoetry := eq .File.Dir "poetry/" }}

      <div class="content-column-content {{ if $isPoetry }}poem{{ end }}">
        <h1>{{ if .Title }}{{ .Title }}{{ else }}Untitled{{ end }}</h1>
        {{ if not $isPoetry }}{{ with .Params.year }}<p class="year">({{ . }})</p>{{ end }}{{ end }}

        {{ $img1 := printf "/img/%s/%s.jpg" .File.Dir .File.BaseFileName }}
        {{ $img2 := printf "/img/%s/%s.jpg" "gallery" .File.BaseFileName }}

        {{ $imgPath1 := printf "static%s" $img1 }}
        {{ $imgPath2 := printf "static%s" $img2 }}

        {{ $img := "" }}
        {{ if fileExists $imgPath1 }}
          {{ $img = $img1 }}
        {{ else if fileExists $imgPath2 }}
          {{ $img = $img2 }}
        {{ end }}

        {{ if $img }}
           <a href="#" class="lightbox" id="img"><span style="background-image: url({{ $img }})"></span></a>
           <a name="img" href="#img" class="main-image" style="margin: auto;"><img src="{{ $img }}" ></a>
        {{ end }}

        {{ .Content }}

        <div style="display: flex; justify-content: center; margin-top: 4rem;">
        {{ if .NextInSection }}
          <a href="{{ .NextInSection.Permalink }}" rel="prev" class="glyphicon glyphicon-chevron-left" style="margin: auto 1em;"></a>
        {{ else }}
          <span class="glyphicon glyphicon-chevron-left" style="margin: auto 1em; color: #bbb;"></span>
        {{ end }}

        {{ if .PrevInSection }}
          <a href="{{ .PrevInSection.Permalink }}" rel="next" class="glyphicon glyphicon-chevron-right" style="margin: auto 1em;"></a>
        {{ else }}
          <span class="glyphicon glyphicon-chevron-right" style="margin: auto 1em; color: #bbb;"></span>
        {{ end }}
        </div>

        {{ with .Params.dimensions }}<p class="footnote">{{ . | safeHTML }}</p>{{ end }}
        {{ with .Params.footnote }}<p class="footnote">{{ . | safeHTML }}</p>{{ end }}

      </div>
    </div>


  </div>
</div>
{{ end }}
